<a href="https://colab.research.google.com/github/ZiXyos/midterm_dbase/blob/master/midterm_migration_scripts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
%%capture
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

# Setup a database with name `sampledb` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS midterms_db;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE midterms_db;'

# set connection
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/midterms_db

In [104]:
from sqlalchemy import create_engine
core = create_engine("postgresql://postgres:postgres@localhost:5432/midterms_db");
ex = core.execute('''CREATE EXTENSION IF NOT EXISTS "uuid-ossp";''');

In [80]:
# Create Table
r_init = core.execute('''
SET check_function_bodies = false;
''');

r_init2 = core.execute('''
CREATE TYPE actions_type AS ENUM('M', 'R');
''');

r_init3 = core.execute('''
CREATE TYPE certif_auth_type AS ENUM('foreign', 'local');
''');

r_init4 = core.execute('''
CREATE TYPE locations_type AS ENUM('Hotel', 'Airport', 'Aquatic Center');
''');

r_set_vehicules = core.execute('''
CREATE TABLE vehicules(
    vehicule_id varchar(5) NOT NULL,
    registration_id varchar(7),
    manufacturer varchar(20),
    model varchar,
    color varchar,
    odometer integer NOT NULL,
    suitable bool NOT NULL,
    capacity integer NOT NULL,
    maintenance_status_id uuid,
    CONSTRAINT vehicules_pkey PRIMARY KEY(vehicule_id),
    CONSTRAINT odometer_fk UNIQUE(odometer)
);
''');

r_set_mtn = core.execute('''
CREATE TABLE maintenance_status(
    id uuid NOT NULL,
    action_types actions_type NOT NULL,
    action_description text,
    final_cost integer NOT NULL,
    date date NOT NULL,
    vehicules_odometer integer NOT NULL,
    CONSTRAINT maintenance_status_pkey PRIMARY KEY(id)
);
''');

r_set_drivers = core.execute('''CREATE TABLE drivers(
    license_number integer NOT NULL,
    "name" varchar,
    clearance_level integer NOT NULL,
    "language" varchar NOT NULL,
    "STLVT_id" uuid,
    "FATL_id" uuid,
    CONSTRAINT drivers_pkey PRIMARY KEY(license_number)
);''');

r_set_stlvt = core.execute('''CREATE TABLE "STLVT"(
    id uuid NOT NULL,
    "level" integer NOT NULL,
    qualification_date date NOT NULL,
    certifying_auth certif_auth_type NOT NULL,
    CONSTRAINT "STLVT_pkey" PRIMARY KEY(id)
);''');

r_set_fatl = core.execute('''CREATE TABLE "FATL"(
    id uuid NOT NULL,
    "level" integer NOT NULL,
    qualification_date date NOT NULL,
    CONSTRAINT "FATL_pkey" PRIMARY KEY(id)
);
''');

r_set_booking = core.execute('''CREATE TABLE bookings(
    ref_number integer NOT NULL,
    drivers_license_number integer NOT NULL,
    trips_id integer NOT NULL,
    game_officials_id integer NOT NULL,
    CONSTRAINT bookings_pkey PRIMARY KEY(ref_number)
);''');

r_set_trips = core.execute('''
CREATE TABLE trips(
    id integer NOT NULL,
    vehicule_id varchar(5) NOT NULL,
    pickup_location_name varchar NOT NULL,
    dropoff_location_name varchar NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    CONSTRAINT trips_pkey PRIMARY KEY(id)
);''');

r_set_go = core.execute('''
CREATE TABLE game_officials(
    id integer NOT NULL,
    based_city varchar NOT NULL,
    "name" varchar NOT NULL,
    "role" varchar NOT NULL,
    pref_lang varchar NOT NULL,
    country varchar NOT NULL,
    CONSTRAINT game_officials_pkey PRIMARY KEY(id)
);''');

rset_ctry = core.execute('''
CREATE TABLE country(
    country_name varchar NOT NULL, most_spoken_lang varchar[] NOT NULL,
    CONSTRAINT country_pkey PRIMARY KEY(country_name)
);''');

rset_pickup = core.execute('''
CREATE TABLE pickup(
    location_name varchar NOT NULL,
    street_nb integer NOT NULL,
    city varchar NOT NULL,
    location_type locations_type NOT NULL,
    CONSTRAINT pickup_pkey PRIMARY KEY(location_name)
);
''');

rset_drop = core.execute('''
CREATE TABLE dropoff(
    location_name varchar NOT NULL,
    street_nb integer NOT NULL,
    city varchar NOT NULL,
    location_type locations_type NOT NULL,
    CONSTRAINT dropoff_pkey PRIMARY KEY(location_name)
);''');

In [81]:
# Alter Table

ralter_maint = core.execute('''
ALTER TABLE maintenance_status
    ADD CONSTRAINT maintenance_status_vehicules_odometer_fkey
        FOREIGN KEY (vehicules_odometer) REFERENCES vehicules (odometer);
''');

ralter_vehic = core.execute('''
ALTER TABLE vehicules
    ADD CONSTRAINT vehicules_maintenance_status_id_fkey
        FOREIGN KEY (maintenance_status_id) REFERENCES maintenance_status (id);
''');

ralter_driver = core.execute('''
ALTER TABLE drivers
    ADD CONSTRAINT "drivers_STLVT_id_fkey"
        FOREIGN KEY ("STLVT_id") REFERENCES "STLVT" (id);
''');

ralter_drivers = core.execute('''
ALTER TABLE drivers
    ADD CONSTRAINT "drivers_FATL_id_fkey"
        FOREIGN KEY ("FATL_id") REFERENCES "FATL" (id);
''');

ralter_bookings = core.execute('''
ALTER TABLE bookings
    ADD CONSTRAINT bookings_drivers_license_number_fkey
        FOREIGN KEY (drivers_license_number) REFERENCES drivers (license_number);
''');

ralter_bookings2 = core.execute('''
ALTER TABLE bookings
    ADD CONSTRAINT bookings_trips_id_fkey
        FOREIGN KEY (trips_id) REFERENCES trips (id);
''');

ralter_go = core.execute('''
ALTER TABLE game_officials
    ADD CONSTRAINT game_officials_country_fkey
        FOREIGN KEY (country) REFERENCES country (country_name);
''');

ralter_booking3 = core.execute('''
ALTER TABLE bookings
    ADD CONSTRAINT bookings_game_officials_id_fkey
        FOREIGN KEY (game_officials_id) REFERENCES game_officials (id);
''');

ralter_trips = core.execute('''
ALTER TABLE trips
    ADD CONSTRAINT trips_vehicule_id_fkey
        FOREIGN KEY (vehicule_id) REFERENCES vehicules (vehicule_id);
''');

ralter_trips2 = core.execute('''
ALTER TABLE trips
    ADD CONSTRAINT trips_pickup_location_name_fkey
        FOREIGN KEY (pickup_location_name) REFERENCES pickup (location_name);
''');

ralter_trips3 = core.execute('''

ALTER TABLE trips
    ADD CONSTRAINT trips_dropoff_location_name_fkey
        FOREIGN KEY (dropoff_location_name) REFERENCES dropoff (location_name);
''');

In [82]:
rinsert_veh = core.execute('''
    INSERT INTO vehicules(vehicule_id, registration_id, manufacturer, model, color, odometer, suitable, capacity)
        VALUES ('V1001', '2001ABC', 'Volvo', 'XC90 SE', 'silver', 4351, true, 4);
''')

In [ ]:
maintenance_st = core.execute('''
    INSERT INTO maintenance_status(id, action_types, action_description, final_cost, date, vehicules_odometer)
        VALUES("uuid", 'R', 'fix lights', 800, 2022-09-12, (SELECT vehicule_id FROM vehicules WHERE (vehicule_id)=('v1001')));
        ''');

In [ ]:
f_inserter = core.execute('''
    INSERT INTO "STLVT"(id, level, qualification_date, certifying_auth)
        VALUES ("{id-1-stlvt}", 4, 2022-03-02, 'foreign')
''')

In [84]:
f_driver = core.execute('''
    INSERT INTO drivers (license_number, name, clearance_level, language)
        VALUES (1, 'john doe', 5, 'KR')
''');

In [87]:
p_up_loc = core.execute('''
    INSERT INTO pickup (location_name, street_nb, city, location_type)
        VALUES ('incheon pool', 65, 'Incheon', 'Aquatic Center');
''');

In [93]:
drop_loc = core.execute('''
    INSERT INTO dropoff(location_name, street_nb, city, location_type)
        VALUES ('incheon hotel', 32, 'Incheon', 'Hotel')
''')

In [123]:
country_ins = core.execute('''
    INSERT INTO country(country_name, most_spoken_lang)
        VALUES ('KOREA', '{"KR"}'), ('FRANCE', '{"FR", "EN"}')
''')

In [ ]:
fatl_ins = core.execute('''
    INSERT INTO "FATL"(id, level, qualification_date)
        VALUES ("uuid-fatl-2", 2, 2022-01-19);
''');

In [124]:
go_ins = core.execute('''
INSERT INTO game_officials(id, based_city, name, role, pref_lang, country)
    VALUES (1, 'MARSEILLE', 'Luc', 'Athlete', 'FR', (SELECT country_name FROM country WHERE (country_name)=('FRANCE')));
''')

In [132]:
trips_ins = core.execute('''
INSERT INTO trips (id, vehicule_id, pickup_location_name, dropoff_location_name, start_date, end_date)
    VALUES (
        1,
        (SELECT vehicule_id FROM vehicules WHERE (vehicule_id)=('V1001')),
        (SELECT location_name FROM pickup WHERE (location_name)=('incheon pool')),
        (SELECT location_name FROM dropoff WHERE (location_name)=('incheon hotel')),
        '2022-01-19',
        '2022-01-19'
    );
''')

In [136]:
book = core.execute('''
    INSERT INTO bookings (ref_number, drivers_license_number, trips_id, game_officials_id)
    VALUES(
        1,
        (SELECT license_number FROM drivers WHERE (license_number)=(1)),
        (SELECT id FROM trips WHERE (id)=(1)),
        (SELECT id FROM game_officials WHERE (id)=(1))    
    );
''')